/*
* {
    border-style: solid;
    border-color: red;
}
*/
body{
    color: #1E306E;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-image: url("casper.jpg");
    background-color: #30373b;
    text-align: center;
    padding: 5px;
    height: 450px;
}

img{
    padding: 5px;
    width: 150px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header.top-liner{
    font-size: 15px;
}

header a.main-button{
    margin-top: 80px;
    padding: 15px;
    border-radius: 0.25rem;
    background-color: #1E306E;
    color: white;
    display: inline-block;

}

header p.footer-text{
    padding-top: 150px;
    display: block;
}

.testimonials{
    text-align: center;
}

.reviews{
    display: inline-block;
    width: 350px;
    height: 250px;
}

footer {
    background-color: #30373b;
    color: white;
    clear: both;
    text-align: center;
    padding: 15px;
}